/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* header style  */

header{
background-color: rgba(17, 31, 151, 0.973);
height: 677px;
}


.title-section{
    display: flex;
   
}
.title{
    width: 500px;
    height: 230px;
    margin-left: 250px;
    margin-top: 100px;
}
.image{
    margin-left: 300px;
    margin-top: 100px;
    
}
.image img{
    height: 500px;
    width: 556px;
}
.image:hover img{
    transform: scale(1.3);
    transition: transform .7s;
}
.intro-title{
    font-weight: 700;
    font-size: 64px;
    color: white;  
    margin-bottom: 3px;
}
 button{
    padding: 0px 40px;
    background-color: #E02C6D;
    border-radius: 5px;
    color: white;
   
   

}
.fa-arrow-right{
    margin-left: 10px;

}

 /* player section  */

 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     row-gap: 30px;
     column-gap: 30px;
     width: 990px;
     margin-left: 400px;
     margin-top: 70px;
 }

 .player{
    border: 15px solid white; 
    height: 490px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 50px 0px rgb(236, 222, 222); 
     

 }
 .player-name{
    font-weight: 700;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 0px;

 }
 .player img{
    height: 256px;
    width: 300px;
 }
 .player-info{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 10px;
    color: grey;
    
 }

 /* table section  */
 .point-table{
    text-align: center;
    color: grey;
    margin-top: 100px;
 }

 table{
    border-collapse: collapse;
    margin-left: 615px;
    margin-top: 40px;

}

td, th{
    border: 2px solid rgb(101, 104, 73);
    padding: 0 20px;
    text-align: center;
    color: rgb(18, 18, 73);
}

table tr:nth-child(odd){
    background-color: rgb(230, 205, 161);(36, 18, 18);
}

table tr:hover {background-color: olive;}
 .highlights{
    background-color: lightgray;
    margin-top: 100px;
    height: 600px;
 }

 /* highlight section  */

 .all-highlights{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 50px;
    padding-bottom: 40px;
 }

 .videos{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 150px;
   
   
 }

.video{
    border: 15px solid white;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

/* football logo  */

.logo img{
    height: 110px;
    width: 483px;
    margin-left: 650px;
    margin-top: 158px;
}

/* social icon */

.social-icons{
    display: flex;
    margin-left: 850px;
}

.social-icon{
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin-right: px;
}
.copy-right{
    text-align: center;
    font-size: 18px;
}
/* Media Queries */

/* Mobile Devices */


@media only screen and (max-width:688px){
    .title-section{
        flex-direction: column;
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .point-table{
        display: left;
        margin-left: 0px;
    }
    table{
        display: wrap;
        margin-left: 0px;
        width: 100%
        
    }
    td, th{
        padding: 0px;
        font-size: 9px;
        margin: 0;
    }
       
}
